---
layout: default
title: Support Pack
menu: sp
---

<div class="container">
	{% include page-title.html title="Support Pack" %}

	<div class="row">
		<div class="col-lg-3 order-lg-1 mb-4">
            <a href="{{ site.github_url }}" class="btn btn-block btn-primary mb-6">
                    <i class="fa fa-folder-open-o"></i> View folder directly
            </a>

            {% for group in site.sp-menu%}
			<!-- {{ group.title }} -->
			<div class="list-group list-group-transparent mb-0">
				{% for p in group.pages %}
				{% assign doc = site.docs | where: "slug", p | first %}
				<a href="{{ site.base }}{{ doc.url }}" class="list-group-item list-group-item-action{% if page.url == doc.url %} active{% endif %}"><span class="icon mr-3"><i class="{{ doc.icon }}"></i></span>{{ doc.title }}</a>
				{% endfor %}
			</div>
			{% endfor %}
        </div>
	</div>
</div>